@font-face {
    font-family: Raleway; 
    src: url(../fonts/Raleway-VariableFont_wght.ttf); 
   }

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.max-width {
    width: 100vw;
    display: flex;
    justify-content: center;
}

header {
    background-image: url(../images/index_header.png);
    height: 100vh;
    max-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-logo {
    margin-top: 35vh;
}

.header-logo p{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.header-logo img {
    width: 80vw;
}

.display-center {
    display: flex;
    justify-content: center;
}

.info-block {
    padding: 2rem 4rem;
    font-size: 1.5rem;
}

.info-block h1 {
    color: #CC2227;
    margin-bottom: 1rem;
}

.info-block p {
    margin-bottom: 2rem;
    text-align: justify;
}

.login-block {
    width: 25vw;
}

.login-block p {
    font-size: 1.5rem;
    text-align: justify;
}

.login-block h1{
    font-size: 2.5rem;
    margin: 4rem 0 2rem 0;
    text-align: center;
}

.login-block button {
    background-color: #CC2227;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    color: white;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.login {
    background-image: url(../images/login-background.jpg);
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.button-guest {
    background-color: #545454;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 25vw;
    margin: 5rem 0;
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
}

footer img{
    margin: 2.5rem 5vw;
}

.copywriting, .design-info {
    color: white;
    text-align: center;
}

.design-info {
    margin: 0.7rem 0;
    font-size: 0.7rem;
}

@media (max-width: 1024px) {
    .info-block {
        font-size: 1rem;
    }
    
    .login-block p {
        font-size: 1.25rem;
    }
    
    .login-block h1{
        font-size: 1.75rem;
        margin: 4rem 0 2rem 0;
        text-align: center;
    }

    .button-guest, .login-block button  {
        font-size: 1rem;
    }
  }

  @media (max-width: 425px) { 
    .header-logo p{
        font-size: 1.5rem;
    }

    .login-block p {
        font-size: 1rem;
    }
    
    .login-block h1{
        font-size: 1.25rem;
        margin: 4rem 0 2rem 0;
        text-align: center;
    }

    .login-block {
        width: 33vw;
    }

    .button-guest, .login-block button  {
        font-size: 0.75rem;
        width: 33vw;
    }
    
    .footer-img {
        display: block;
        text-align: center;
    }

    .footer-img img {
        margin: 2rem 0 0 0;
    }

    .copywriting {
        margin-top: 2rem;
    }

    .info-block {
        padding: 2rem;
    }
    
    .button-guest {
        margin: 2rem 0;
    }
  }

  @media (max-width: 320px) { 
    .login-block p {
        font-size: 0.75rem;
    }
    
    .login-block h1{
        font-size: 1rem;
        margin: 4rem 0 2rem 0;
        text-align: center;
    }

    .button-guest, .login-block button  {
        font-size: 0.6rem;
        width: 33vw;
    }
  }